%img.img-responsive{:alt => "Responsive image", :src => "https://www.blackducksoftware.com/sites/default/files/images/HomePageHero-Worried_0.jpg"}/
%h1.welcome-title
  Welcome to the BlackDuck Flock Employee Directory
%p.welcome-text
  View your fellow mother duckers by clicking on the link below. No sign up or login necessary. Search by name/email or filter by 
  department. 
.col-md-12
  .employee-button
    = link_to("Browse the Employee Directory", employees_url, class: "btn btn-primary")
