<img alt='Responsive image' class='img-responsive' src='https://www.blackducksoftware.com/sites/default/files/images/HomePageHero-Worried_0.jpg'>
<h1 class='welcome-title'>
  Welcome to the BlackDuck Flock Employee Directory
</h1>
<p class='welcome-text'>
  View your fellow mother duckers by clicking on the link below. No sign up or login necessary. Search by name/email or filter by
  department.
</p>
<div class='employee-button'>
  <button class='btn btn-primary' type='button'>Check the Directory</button>
</div>
