!!!
%html
  %head
    %title BlackduckFlockRails
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse.navbar-fixed-top
      .container-fluid
        .navbar-header
          .navbar-brand
            .company-name
              %img.img-responsive{:src => image_url("company_name.png")}
    = yield
    %nav.navbar.navbar-inverse.navbar-fixed-bottom
      %p.bottom-nav-text
        Any questions or concerns? Please email Daniel Rubio at drubio@blackducksoftware.com 

